*{
    margin: 0;
}
.main{
    background-color:rgba(229, 84, 115, 0.1);
    height: 700px;
    display: flex;
    align-items: center;
}
.m_con{
width: 49%;
margin: 150px 0px 100px 200px;
}
.m_con h1{
    font-size: 70px;
    margin-bottom: 30px;
}
.m_con button{
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    background-color: rgba(229, 84, 115,1);
    border: none;
    border-radius: 10px;
    padding: 20px 40px;
}
.m_img{
width: 50%;
}
.m_img img{
    margin: 50px 0px 0px 100px;
    height: 650px;
}
